{% extends 'base.html' %}
{% load static %}
{% block content %}
                        <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
                                <p>Please enter your new password.</p>
                                <form method="POST" class="form-signin">
                                    {% csrf_token %}
                                    {{form.as_p}}
                                    <button class="btn btn-primary" type="submit">Reset password</button>
                                </form>
{% endblock content %}
