{% extends 'base.html' %} {% load static %} {% block content %}
<!-- <link rel="stylesheet" href="{% static 'css/register.css' %}" /> -->
<link rel="stylesheet" href="{% static 'css/experience.css' %}" />
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<main role="main">
  <!-- <section class="jumbotron text-center bg-lime">
    <div class="container text-light">
      <h1><span style="text-transform: lowercase">i</span>nter<strong>N</strong>ito</h1>
      <p class="mt-2 lead text-light">
        A platform where you can go through the <h5><b>Students' Interview Experiences</b></h5>
        and can learn from their experiences and mistakes.
      </p>

      <p>
        <a href="#" class="btn btn-secondary my-2">Write Yours Now!!!</a>
      </p>
    </div>
  </section> -->

  <div class="album py-5 bg-lime-invert">
    <div class="container">
      <h1 class="mb-4 justify-content-center">
        <div class="head p-2 justify-content-center">{{message}}</div>
      </h1>
      <p><a class="badge badge-primary badge-pill p-2" style="float:right;" href="{% url 'company' %}"> Search for Company</a></p>

      {% if not filter_done %}
      <form method="GET">
        {% csrf_token %}

        {% if company_wise %}

        <input type="hidden" name="filter" value="all"/>

        {% else %}

        <input type="hidden" name="filter" value="company_wise"/>

        {% endif %}

        <p><button type="submit" class="badge badge-primary badge-pill p-2" style="float:right;">


          {% if company_wise %}
          Sort by Recent
            {% else %}
            Sort by Company
          {% endif %}


        </button></p>
      </form>
      {% endif %}

      {% if msg_empty %}
      <p><strong>{{msg_empty}}</strong></p>
      {% else %}
      <p><strong>Current Responses : {{ responses|length }}</strong></p>
      {% endif %}

      {% if company_wise or filter_done %}
      {% regroup responses by company as company_lists %}
      {% for company_list in company_lists %}
      <p><strong>{{company_list.grouper}} ( {{company_list.list|length}} )</strong></p>
      <div class="row">
                {% for response in company_list.list %}
                <div class="col-md-4">
                  <div class="card mb-4 box-shadow">
                    <div class="card-body p-5 summary-parent">
                      <p
                        class="card-text summary summary-text"
                        style="height: 10ch; text-overflow: ellipsis; overflow: hidden"
                      >
                        {{response.summary }}...
                      </p>
                      <p class="card-text name">
                        <a href="{% url 'profile' response.user.username %}">{{response.name}}</a>
                      </p>
                      <p class="card-text company capitalize">
                        interview experience of <strong>{{response.company}}</strong>
                      </p>

                      <a
                        type="button"
                        class="
                          btn btn-sm btn-outline-secondary
                          view-btn
                          w-100
                          text-center
                        "
                        href="{% url 'post' response.pk %}"
                      >
                        Read More
                      </a>
                    </div>
                  </div>
                </div>
                {% endfor %}
      </div>
      {% endfor %}
      {% else %}
      <div class="row">
        {% for response in responses %}
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body p-5 summary-parent">
              <p
                class="card-text summary summary-text"
                style="height: 10ch; text-overflow: ellipsis; overflow: hidden"
              >
                {{response.summary }}...
              </p>
              <p class="card-text name">
                <a href="{% url 'profile' response.user.username %}">{{response.name}}</a>
              </p>
              <p class="card-text company capitalize">
                interview experience of <strong>{{response.company}}</strong>
              </p>

              <a
                type="button"
                class="
                  btn btn-sm btn-outline-secondary
                  view-btn
                  w-100
                  text-center
                "
                href="{% url 'post' response.pk %}"
              >
                Read More
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
</div>
      {% endif %}

    </div>
  </div>
  <script></script>
</main>
{% endblock content %}
