{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/post.css' %}" />

<style>
  body{
    font-family: 'Poppins', sans-serif!important;
}
  

  .card-title {
    font-weight: 600;
    font-size: 1.7rem;
    margin: 10px auto 20px auto;
  }

  .title {
    font-weight: 600;
    margin: 0.3rem 0 1.3rem 0.45rem;
  }
  .abt-info-title {
    margin: 10px;
    padding: 0;
  }

  .blog-text {
    margin-bottom: 20px;
  }
</style>

<div class="container-fluid" style="font-family: 'Poppins', sans-serif">
  <div class="row">
    <div class="col-lg-9">
      <div class="post-card mt-4">
        <div class="card-body">
          

          <!-- ONLINE TEST -->
          {% if response.ot_summary %}
            <details>
              <summary class="card-title">ONLINE TEST</summary>
              <h5 class="card-text">About Online Test</h3>
              <p class="card-text blog-text">
                <pre>
{{ response.ot_summary }}
                </pre>
              </p>
            <hr />


            
            {% if response.ot_question1 %}
              <h5 class="card-text">Online Test Question - 1</h3>
              <p class="card-text blog-text">
                <pre>
{{ response.ot_question1 }}
                </pre>
              </p>
              
              {% if response.ot_question1_link %}
              <p class="card-text blog-text">
                To get some idea and source,  Follow this LINK : <a href="{{response.ot_question1_link}}" target="_blank"> Question 1 Source </a>
              </p>
              {% endif %}
                
            <hr />
            {% endif %}
              
            {% if response.ot_question2 %}
              <h5 class="card-text">Online Test Question - 2</h3>
              <p class="card-text blog-text">
                <pre>
{{ response.ot_question2 }}
                </pre>
              </p>

              {% if response.ot_question2_link %}
              <p class="card-text blog-text">
                To get some idea and source,  Follow this LINK : <a href="{{response.ot_question2_link}}" target="_blank"> Question 2 Source </a>
              </p>
              {% endif %}

            <hr />
            {% endif %}
            {% if response.ot_question3 %}
              <h5 class="card-text">Online Test Question - 3</h3>
              <p class="card-text blog-text">
                <pre>
{{ response.ot_question3 }}
                </pre>
              </p>
              
              {% if response.ot_question3_link %}
              <p class="card-text blog-text">
                To get some idea and source,  Follow this LINK : <a href="{{response.ot_question3_link}}" target="_blank"> Question 3 Source </a>
              </p>
              {% endif %}
            <hr />
            {% endif %}
            {% if response.ot_question4 %}
              <h5 class="card-text">Online Test Question - 4</h3>
              <p class="card-text blog-text">
                <pre>
{{ response.ot_question4 }}
                </pre>
              </p>
              {% if response.ot_question4_link %}
              <p class="card-text blog-text">
                To get some idea and source,  Follow this LINK : <a href="{{response.ot_question4_link}}" target="_blank"> Question 4 Source </a>
              </p>
              {% endif %}
            <hr />
            {% endif %}
            </details>  

          {% endif %}
            

          <!-- ROUND 1 Interview -->
          {% if response.round1_details %}
            <details>
              <summary class="card-title">Round 1 Interview</summary>
              <p class="card-text blog-text">
                <pre>
{{ response.round1_details }}
                </pre>
              </p>
            <hr />
            </details>
          {% endif %}

        
          <!-- ROUND 2 Interview -->
          {% if response.round2_details %}
            <details>
              <summary class="card-title">Round 2 Interview</summary>
              <p class="card-text blog-text">
                <pre>
{{ response.round2_details }}
                </pre>
              </p>
            <hr />
              </details>
          {% endif %}

          <!-- ROUND 3 Interview -->
          {% if response.round3_details %}
            <details>
              <summary class="card-title">Round 3 Interview</summary>
              <p class="card-text blog-text">
                <pre>
{{ response.round3_details }}
                </pre>
              </p>
            <hr />
            </details>
          {% endif %}

          <!-- Overall summary -->
          {% if response.final_summary %}
            <details>
              <summary class="card-title">FINAL COMMENT</summary>
              <p class="card-text blog-text">
                <pre>
{{ response.final_summary }}
                </pre>
              </p>
            <hr />
            </details>
          {% endif %}

          <hr />
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card info-card mt-4">
        <div class="card-body">
          <h4 class="title">About the Applicant</h4>
          <p class="abt-info-title"><strong>Name: </strong><a href="{% url 'profile' response.user.username %}">{{response.name}}</a></p>
          <p class="abt-info-title"><strong>Batch:</strong> {{ response.batch }}</p>
          <p class="abt-info-title"><strong>Company:</strong> {{ response.company }}</p>
          <p class="abt-info-title"><strong>Drive:</strong> {{ response.period }}</p>
          <p class="abt-info-title"><strong>Eligible Branches:</strong>{{ response.branch }}</p>
          <p class="abt-info-title"><strong>CGPA Cut Off:</strong> {{ response.cgpa_cutoff }}</p>
          <p class="abt-info-title"><strong>Resume: </strong> <a href="{{ response.resume }}" target="_blank"> G-Drive </a> </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
