{% extends 'base.html' %} {% load static %} {% block content %}

<link rel="stylesheet" href="{% static 'css/post.css' %}" />

<style>
  body{
    font-family: 'Poppins', sans-serif!important;
}


  .card-title {
    font-weight: 600;
    font-size: 1.7rem;
    margin: 10px auto 20px auto;
  }

  .title {
    font-weight: 600;
    margin: 0.3rem 0 1.3rem 0.45rem;
  }
  .abt-info-title {
    margin: 10px;
    padding: 0;
  }

  .blog-text {
    margin-bottom: 20px;
  }
  pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: keep-all;       /* Internet Explorer 5.5+ */
}

.card {
  margin: 15px;

}

.card-body {
  padding: 20px;
}

.post-section {
  background-color: #f3f3f3;
}

.small-text {
  font-size: 1.5rem;
}

.col-lg-9, .col-lg-3 {
  margin: 0px !important;
  padding: 0;
}
summary {
  padding: 0;
  margin: 0 !important;
}

details {
  padding: 10px ;
}

.first-title {
  margin-top: 10px;
}
</style>

<div class="container-fluid" style="font-family: 'Poppins', sans-serif">
  <div class="row">
    <div class="col-lg-9">
      <div class="post-card mt-4">



          <!-- ONLINE TEST -->
          {% if response.ot_summary %}
          <div class="card">
            <div class="card-body post-section">
                        <details>
              <summary class="card-title small-text">ONLINE TEST</summary>
              <h5 class="card-text first-title">About Online Test</h3>
              <p class="card-text blog-text">
                <pre>
{{ response.ot_summary }}
                </pre>
              </p>
            <hr />



            {% if response.ot_question1 %}
              <h5 class="card-text ">Online Test Question - 1</h3>
              <p class="card-text blog-text">
                <pre>
{{ response.ot_question1 }}
                </pre>
              </p>

              {% if response.ot_question1_link %}
              <p class="card-text blog-text">
                To get some idea and source,  Follow this LINK : <a href="{{response.ot_question1_link}}" target="_blank" class="text-primary"> Question 1 Source </a>
              </p>
              {% endif %}

            <hr />
            {% endif %}

            {% if response.ot_question2 %}
              <h5 class="card-text">Online Test Question - 2</h3>
              <p class="card-text blog-text">
                <pre>
{{ response.ot_question2 }}
                </pre>
              </p>

              {% if response.ot_question2_link %}
              <p class="card-text blog-text">
                To get some idea and source,  Follow this LINK : <a href="{{response.ot_question2_link}}" target="_blank" class="text-primary"> Question 2 Source </a>
              </p>
              {% endif %}

            <hr />
            {% endif %}
            {% if response.ot_question3 %}
              <h5 class="card-text">Online Test Question - 3</h3>
              <p class="card-text blog-text">
                <pre>
{{ response.ot_question3 }}
                </pre>
              </p>

              {% if response.ot_question3_link %}
              <p class="card-text blog-text">
                To get some idea and source,  Follow this LINK : <a href="{{response.ot_question3_link}}" target="_blank" class="text-primary"> Question 3 Source </a>
              </p>
              {% endif %}
            <hr />
            {% endif %}
            {% if response.ot_question4 %}
              <h5 class="card-text">Online Test Question - 4</h3>
              <p class="card-text blog-text">
                <pre>
{{ response.ot_question4 }}
                </pre>
              </p>
              {% if response.ot_question4_link %}
              <p class="card-text blog-text">
                To get some idea and source,  Follow this LINK : <a href="{{response.ot_question4_link}}" target="_blank"> Question 4 Source </a>
              </p>
              {% endif %}
            <hr />
            {% endif %}
            </details>
          </div>
          </div>

          {% endif %}


          <!-- ROUND 1 Interview -->
          {% if response.round1_details %}
          <div class="card">
            <div class="card-body post-section">
            <details>
              <summary class="card-title small-text">Round 1 Interview</summary>
              <p class="card-text blog-text">
                <pre>
{{ response.round1_details }}
                </pre>
              </p>
            <hr />
            </details>
            </div>
            </div>
          {% endif %}


          <!-- ROUND 2 Interview -->
          {% if response.round2_details %}
          <div class="card">
            <div class="card-body post-section">
            <details>
              <summary class="card-title small-text">Round 2 Interview</summary>
              <p class="card-text blog-text">
                <pre>
{{ response.round2_details }}
                </pre>
              </p>
            <hr />
              </details>
              </div>
              </div>

          {% endif %}

          <!-- ROUND 3 Interview -->
          {% if response.round3_details %}
          <div class="card">
            <div class="card-body post-section">
            <details>
              <summary class="card-title small-text">Round 3 Interview</summary>
              <p class="card-text blog-text">
                <pre>
{{ response.round3_details }}
                </pre>
              </p>
            <hr />
            </details>
            </div>
            </div>

          {% endif %}

          <!-- Overall summary -->
          {% if response.final_summary %}
          <div class="card">
            <div class="card-body post-section">
            <details>
              <summary class="card-title small-text">Final Comment</summary>
              <p class="card-text blog-text">
                <pre>
{{ response.final_summary }}
                </pre>
              </p>
            <hr />
            </details>
            </div>
            </div>
          {% endif %}

          <hr />
        </div>
      </div>

    <div class="col-lg-3">
      <div class="post-card mt-4">
    <div class="card">
        <div class="card-body">
          <h4 class="title">About the Applicant</h4>
          <p class="abt-info-title"><strong>Name: </strong><a href="{% url 'profile' response.user.username %}">{{response.name}}</a></p>
          <p class="abt-info-title"><strong>Batch:</strong> {{ response.batch }}</p>
          <p class="abt-info-title"><strong>Company:</strong> {{ response.company }}</p>
          <p class="abt-info-title"><strong>Drive:</strong> {{ response.period }}</p>
          <p class="abt-info-title"><strong>Eligible Branches:</strong> {{ response.branch }}</p>
          <p class="abt-info-title"><strong>CGPA Cut Off:</strong> {{ response.cgpa_cutoff }}</p>
          {% if response.resume %}
          <p class="abt-info-title"><strong>Resume: </strong> <a href="{{ response.resume }}" target="_blank"> G-Drive </a> </p>
          {% endif %}
        </div>
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock content %}